{# templates/blog/index.html.twig #}
{% extends 'baseteacher.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block MainBody %}
    <table class="table table-striped table-dark" style="width:99%;">
    <thead >
        <tr class="info">
            <th  style="width:45%";>Exam</th>
            <th style="width:15%;">Category</th>
            <th style="width:10%;">Create Date</th>
            <th style="width:5%;">Edit</th>
            <th style="width:5%;">Delete</th>
            <th style="width:5%;">Assign</th>
            <th style="width:20%;">
                <a href= {{ path('exam_new') }}  >
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus">Add Exam</button>
                    </a>
            </th>
        </tr>
          </thead>
        {% for entry in examstwig %}
            <tr style="font-size:15px; font-weight:bold">
                <td>{{ entry.description }}</td>
                <td>{{ entry.categoryDsc }}</td>
                <td>{{ entry.createddate }}</td>
                <td>
                    <a href="{{ path('exam_edit', {examid: entry.id}) }}">
                        <button class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></button>
                        </a>
                </td>
                <td>
                        <a href="{{ path('exam_delete', {examid: entry.id}) }}">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></button>
                            </a>
                </td>
                <td>
                        <a href="<?php echo site_url('Students_ctl/show_students'); ?>">
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-remove"> Assign</button>
                            </a>
                </td>
                <td>
                        <a href="{{ path('question_show', {examid: entry.id}) }}">
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-remove">Questions</button>
                            </a>
                </td>
            </tr>
        {% endfor %}
</table>
{% endblock %}
